Essential Statements

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score as R2, mean_absolute_error as MAE, mean_squared_error as  MSE
import matplotlib.pyplot as plt

Required Values For The Operation

In [2]:
features = ['OriginAirportID', 'DestAirportID', 'DepTime',
       'DepDelayMinutes', 'DepDel15', 'WindSpeedKmph_Origin',
       'WindDirDegree_Origin', 'WeatherCode_Origin', 'precipMM_Origin',
       'Visibility_Origin', 'Pressure_Origin', 'Cloudcover_Origin',
       'DewPointF_Origin', 'WindGustKmph_Origin', 'tempF_Origin',
       'WindChillF_Origin', 'Humidity_Origin', 'WindSpeedKmph_Dest',
       'WindDirDegree_Dest', 'WeatherCode_Dest', 'precipMM_Dest',
       'Visibility_Dest', 'Pressure_Dest', 'Cloudcover_Dest', 'DewPointF_Dest',
       'WindGustKmph_Dest', 'tempF_Dest', 'WindChillF_Dest', 'Humidity_Dest']
       
target = 'ArrDelayMinutes'

# Testing Ranges For The Model 
Ranges = [[15, 100], [100, 200], [200, 500], [500, 1000], [1000, 2000]]

Function For Setting The Value of Ranges

In [4]:

def Splitting(df, lower, upper):
  print("The Range",[lower, upper],"is :")
  return df[(df[target]>=lower) & (df[target]<upper)]

Function For Testing The Model

In [5]:
def test(model, X_test, y_test):
  print(X_test.shape)
  predictions = model.predict(X_test)

  print("MAE Value :", MAE(y_test, predictions))
  print("RMSE Value :", np.sqrt(MSE(y_test, predictions)))
  print("\n")

Oprations In Dataset To Get Dataframe

In [7]:
df = pd.read_csv("drive/MyDrive/Data/dataset.csv")
df = df[df["ArrDel15"] == 1]

Testing The Dataset

In [9]:
print(df.shape)
df.head()

(388058, 43)

    Year  Quarter  Month  ...  tempF_Dest WindChillF_Dest  Humidity_Dest
1   2016        1      1  ...          42              33             74
11  2016        1      1  ...          35              25             70
13  2016        1      1  ...          35              25             70
17  2016        1      1  ...          35              25             70
19  2016        1      1  ...          35              25             70

[5 rows x 43 columns]

Operation To Splitting X And Y ( Train Data and Test Data )

In [11]:
X = df[features]
Y = df[target]

X_train , X_test , y_train , y_test = train_test_split(X , Y , test_size=0.2)

Operation For Training Regressor

In [ ]:
model = RandomForestRegressor()
model.fit(X_train, y_train)

The Scores For Each Arrival Delay Using The Functions In Cell 5 & 6

  1) Operation To Merge The Output Of Functions

In [13]:
Test_DF = X_test.merge(y_test, left_index=True, right_index=True)

  2) Operation To Print The Scores Of Each Arrival Delay( MAE & RMSE Values )

In [14]:
for i in Ranges:
  sample = Splitting(Test_DF, i[0], i[1])
  test(model, sample[features], sample[target])

The Range [15, 100] is :
(64740, 29)
MAE Value : 10.459718252864938
RMSE Value : 13.664550657841914


The Range [100, 200] is :
(9873, 29)
MAE Value : 17.443474880988557
RMSE Value : 25.722761080970102


The Range [200, 500] is :
(2765, 29)
MAE Value : 18.99935744424352
RMSE Value : 28.952945328354055


The Range [500, 1000] is :
(209, 29)
MAE Value : 16.974306220095695
RMSE Value : 26.096857085878476


The Range [1000, 2000] is :
(24, 29)
MAE Value : 14.353333333333358
RMSE Value : 19.242547258614195